@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.s-container-fluid {
    display: block !important;
}
.s-navbar-brand {
    font-weight: 600;
    font-size: 35px !important;
}
.s-navbar-toggle .s-icon-bar {
    width: 32px !important;
    height: 5px !important;
}
.s-navbar {
    border: none !important;
}
.s-nav {
   display: block;
   text-align: center;
   
}
.s-nav li a {
   font-size: 20px; 
}



.s-h1 {       
    font-family: 'Poppins', sans-serif !important; 
    margin: 0 !important; 
    padding: 60px 0 !important;  
}

.s2-container-fluid {
    border-bottom: 2px solid darkgray !important;
}

p {
    padding: 0 10px;
}